/* ESTILOS HEADER */
body {
  margin: 0rem;
  padding: 0rem;
}

.site-header {
    display: flex;
    margin: 0rem;
    padding: 0rem;
    position: sticky;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #201210, #580909e2, #082280);
    background-size: 400% 400%;
    animation: hero-gradient-animation 15s ease infinite;
    list-style: none;
    z-index: 1000;
}

#title {
  font-size: 35px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eded;
  justify-content: flex-start;
  margin-left: 0;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  list-style: none;
  margin: 1rem;
}


.nav-link {
  font-size: 18px;
  font-family: "Momo Trust Display", sans-serif;
  color: rgb(227, 223, 223);
  text-decoration: none;
  justify-content: space-between;
  margin-left: 2rem;
}

.nav-link:hover {
  font-family: "Momo Trust Display", sans-serif;
  font-size: 24px;
  color: #0429a1;
  border-bottom: 2px solid #0429a1;
  transition: all 0.3s ease-in-out;
}
/* ESTILOS LOGO */
img {
    width: 70px;
    height: 80px;
  }

.logo {
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;

}
/* ESTILOS LOGO */

 /*ESTILOS HEADER */


                             /* ESTILOS MAIN */
.pmayor {
  font-size: 24px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 1000;
  font-style: normal;
  color: #030202;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(133, 24, 24, 0.5);
  justify-content: center;
  margin: 2rem 25%;
}

 

