/* ESTILOS HEADER */
body {
  margin: 0rem;
  padding: 0rem;
}

.site-header {
  display: flex;
  margin: 0rem;
  padding: 0rem;
  position: sticky;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #5e1508;
  list-style: none;
  z-index: 1000;
}

#title {
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #190707;
  justify-content: flex-start;
  margin-left: 2rem;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  list-style: none;
  margin: 1rem;
}


.nav-link {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(227, 223, 223);
  text-decoration: none;
  justify-content: space-between;
  margin-left: 2rem;
}

.nav-link:hover {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #0429a1;
}



 /*ESTILOS HEADER */

 

