body {
  margin: 0rem;
  padding: 0rem;
  background-image: linear-gradient(to top, #030202, #eee1e1e2, #e5a0a0);
  transform: translateZ(-100px);
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Cursor atractivo */
